.form-group {
  display: flex;
	flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px 40px;
}

.form-group .label-group {
	flex: 1 1 auto;
	padding: 10px;
}

.label-group label {
	display: block;
	margin-bottom: 10px;
}

.label-group input {
	border: 1px solid var(--tertiary-color);
	border-radius: 5px;
	font-size: var(--font-base);
	padding: 5px;
	width: 100%;
}

.buttons {
	padding: 20px 0;
}

.remove-icon {
	background-color: var(--tertiary-color);
	border: 1px solid var(--primary-color);
	border-radius: 3px;
	color: var(--dark-grey);
	cursor: pointer;
	grid-row: 1/4;
	font-weight: bolder;
	padding: 5px;
}